apispec==5.1.1
attrs==21.2.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.3
decorator==5.1.0
docutils==0.15.2
flasgger==0.9.5
Flask==2.0.2
Flask-Caching==1.11.1
Flask-Cors==3.0.10
flask-marshmallow==0.14.0
httplib2==0.20.2
idna==3.3
importlib-resources==5.4.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
JSONBender==0.9.3
jsonpath-ng==1.5.3
jsonschema==4.2.1
libcst==0.3.23
MarkupSafe==2.0.1
marshmallow==3.14.1
mistune==2.0.3
mypy-extensions==0.4.3
oauth2client==4.1.3
oauthlib==3.2.2
packaging==21.3
pluggy==1.0.0
ply==3.11
proto-plus==1.19.8
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome
pyparsing==3.0.6
pyrsistent==0.18.0
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.2
PyYAML==5.4.1
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7
s3transfer==0.5.0
six==1.16.0
structlog==21.1.0
toml==0.10.2
typing-extensions==4.0.1
typing-inspect==0.7.1
uritemplate==4.1.1
urllib3==1.26.7
websocket-client==1.2.3
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.6.0
matos-gcp-provider
matos-aws-provider
matos-azure-provider
ruamel.yaml
